<mat-card>
    <mat-card-title class="title">Edit Service</mat-card-title>
    <mat-card-content>
            <form #productDetail="ngForm">
                <div class="form-group mb-4">
                  <label for="name" class="sr-only">Product Name</label>
                  <input type="text" name="name" id="name" [(ngModel)]="serviceData.name" class="form-control" placeholder="Product Name">
                </div>
                <div class="form-group mb-4">
                  <label for="description" class="sr-only">Description</label>
                  <textarea  name="description" id="description" [(ngModel)]="serviceData.description" class="form-control" placeholder="Description" rows="4"></textarea>
                </div>
              </form>
    </mat-card-content>
    <mat-card-actions> 
    <button type="button" class="btn btn-sm btn-primary" style="margin-right:5px;" (click)="onSave()">
        Save
    </button>
    <button type="button" class="btn btn-sm btn-secondary"style="margin-right:5px;" (click)="cancel()">
        Back
      </button>
      <button type="button" class="btn btn-sm btn-danger float-end" (click)="onDelete()">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
      </button>
    </mat-card-actions>
</mat-card>
<image-gallery (ref_assignto)="serviceData.ref_service" *ngIf="!IsEmpty(serviceData.ref_service)"></image-gallery>