<mat-nav-list>
    <div class="logo py-4">
      <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/622590/logo.png?t=1567457373" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="inspection">
      <mat-icon>list</mat-icon> Inspection List
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="product">
      <mat-icon>list</mat-icon> Product List
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="service">
      <mat-icon>list</mat-icon> Service List
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="settings">
      <mat-icon>settings</mat-icon> Settings
    </a>
  </mat-nav-list>