<mat-card>
    <mat-card-title class="title">Edit Product</mat-card-title>
    <mat-card-content>
            <form #productDetail="ngForm">
                <div class="form-group mb-4">
                  <label for="name">Product Name</label>
                  <input type="text" name="name" id="name" [(ngModel)]="productData.name" class="form-control" placeholder="Product Name">
                </div>
                <div class="form-group mb-4">
                  <label for="description">Description</label>
                  <textarea  name="description" id="description" [(ngModel)]="productData.description" class="form-control" placeholder="Description" rows="4"></textarea>
                </div>
              </form>
    </mat-card-content>
    <mat-card-actions> 
    <button type="button" class="btn btn-sm btn-primary" style="margin-right:5px;" (click)="onSave()">
        Save
    </button>
    <button type="button" class="btn btn-sm btn-secondary"style="margin-right:5px;" (click)="cancel()">
      Back
      </button>
      <button type="button" class="btn btn-sm btn-danger float-end" (click)="onDelete()">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
      </button>
    </mat-card-actions>
</mat-card>
<image-gallery style="margin-bottom: 20px;" (ref_assignto)="productData.ref_product" *ngIf="!IsEmpty(productData.ref_product)"></image-gallery>
<price-table (ref_assignto)="productData.ref_product" *ngIf="!IsEmpty(productData.ref_product)"></price-table>